/*
White Flatty Diver theme
add this after main css it overides the colors
*/
body{
	background-color: #fff;
}
::selection{
    background: #999;
}
.login-bar{
    background-color: #fcfcfc;
}
.login-bar a{
    background-color: #fcfcfc;
    color: #232d45;
}
.login-bar a:hover{
    color: #555;
}
.title h1{
    color: #627f9f;
}
.title span{
    color: #627f9f;
}
.title input[type="search"]{
    color: #555;
    background-color: #fcfcfc;
    border: 1px solid #999;
}
.nav{
    background-color: #fcfcfc;
}
.nav a{
    color: #555;
}
.nav a:hover{
    color: #999;
}
.info-box{
    background-color: #fcfcfc;
}
.info-box div{
    background-color: #627f9f;
}
.info-box h1{
    color: #fff;
}
.info-box-description {
    color: #555;
}
.price-box-container h3, .price-box-container h4{
    color: #555;
}
.price-box-container li{
    color: #555;
}
.price-box-normal{
    background-color: #fff;
    border: 1px solid #627f9f;
}
.package-name{
    background-color: #fff;
    border-bottom: 3px solid #fff;
}
.package-price{
    background-color: rgba(0,0,0,.1);
}
.order-now a{
    background-color: rgba(0,0,0,.1);
    color: #555;
}
.order-now a:hover{
    background-color: #627f9f;
    color: #fff;
}
.price-box-extended{
    background-color: #fff;
    border: solid 1px #627f9f;
}
.package-highlight{
    color :#555;
    font-style: italic;
}
footer{
    background-color: #627f9f;
}
.bottom span{
    color: #fff;
}
.bottom a{
    color: #fff;
}
footer h5{
    color: #fff;
}
.footer-info{
    color: #fff;
}